			a.jb-share {
				color: inherit;
				font-size: 20px;
				text-decoration: inherit;
			}

			.jb-card-wide.mdl-card {
				width: 100%;
			}
			
			.jb-card-wide > .mdl-card__menu {
				color: #fff;
			}
			
			.jb-card-wide > .mdl-card__title {
				background-color: #1976D2;
				background-position: center;
				background-size: cover ;
				color: #FFFFFF;
				height: 176px;
				padding: 0px;
			}
			
			.jb-card-wide > .mdl-card__title > .mdl-card__title-text {
				background-color: rgba(0, 0, 0, 0.3);
				display: block;
				padding: 6px 6px;
				width: 100%;
			}
			
			.jb-card-wide > .mdl-card__title > .mdl-card__title-text > h2 {
				font-family: "Roboto","Helvetica","Arial",sans-serif;
				font-size: 24px;
				font-weight: 300;
				line-height: normal;
				margin: 3px 0px;
			}
			
			.jb-card-wide > .mdl-card__title > .mdl-card__title-text > p {
				font-family: "Roboto","Helvetica","Arial",sans-serif;
				font-size: 14px;
				font-weight: 300;
				margin: 0px;
			}
