			footer .fa {
				font-size: 24px;
			}
			
			.mdl-button {
				margin: 6px;
			}
			
			.mdl-layout__drawer {
				border: 0px;
			}
			
			.mdl-navigation {
				z-index: 6;
			}
			
			#banner {
				background-color: #90CAF9;
				color: #FFFFFF;
				height: 240px;
			}
			
			#banner h1 {
				word-wrap: break-word;
			}
			
			#fabButtons {
				bottom: 3%;
				position: fixed;
				right: 3%;
				text-align: right;
				z-index: 10;
			}
			
			#loading {
				background-color: rgba(0, 0, 0, 0.5);
				display: table;
				height: 100%;
				left: 0px;
				position: fixed;
				text-align: center;
				top: 0px;
				width: 100%;
				z-index: 15;
			}
			
			#loading #innerLoading {
				display: table-cell;
				height: 100%;
				text-align: middle;
				vertical-align: middle;
				width: 100%;
				z-index: 15;
			}
			
			#loading #innerLoading .mdl-spinner {
				color: #FFFFFF;
			}
			
			#pageUpButton {
				display: none;
			}
			
			#sideMenu {
				height: 100%;
				left: 0px;
				position: fixed;
				top: 0px;
				width: 15px;
				z-index: 10;
			}
