			.commentContainer {
				border-bottom: 1px solid #424242;
			}
			
			.commentContainer p {
				background-color: #F0F0F0;
				padding: 3px;
			}

			.jb-code {
				background-color: #f5f2f0;
				border-radius: 3px;
				margin-right: 24%;
				overflow-x: auto;
				padding: 12px;
				white-space: nowrap;
			
				-webkit-overflow-scrolling: touch;
				overflow-scrolling: touch;
			}
